<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.itshaala.model.Event" name="event">
        <constructor-arg name="id" value="101"/>
        <constructor-arg name="name" value="new-relic-event"/>
        <constructor-arg name="description" value="memory utilization above 75%"/>
        <constructor-arg name="date" value="27-05-2024"/>
    </bean>

</beans>